<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body>
    <div>
      <% if (user) {%>
        <div class="h-screen">
            <div class="flex flex-row justify-between bg-cyan-600 pb-8 items-center">
                <div class="pl-44 pt-8"><a href="/" class="bg-yellow-300 p-2 rounded-lg text-orange-600 border-2 border-orange-800 border-solid text-xl">Home</a></div>
                <div class="pt-8 flex flex-row gap-8 pr-44">
                  <a href="/admin" class="bg-yellow-300 p-2 rounded-lg text-orange-600 border-2 border-orange-800 border-solid text-xl">Become an Admin</a>
                  <a href="/log-out" class="bg-yellow-300 p-2 rounded-lg text-orange-600 border-2 border-orange-800 border-solid text-xl">Log Out</a>
                </div>
            </div>
        <div class="flex justify-center pt-24 bg-cyan-400 h-[95%] lg:h-[90%]">
        <form action="/admin" method="POST">
        <div class="flex flex-col items-center border-2 border-black border-solid w-80">
        <label for="admin" class="m-2 text-orange-800">Admin</label>
        <input name="admin" type="password" id="admin" class="border-2 border-black border-solid"/>
        <button class="bg-yellow-300 p-1 m-3 rounded-lg text-orange-600 border-2 border-orange-800 border-solid">Submit</button>
        </div>
        </form>
        </div>
        </div>
      <% } else { %>
        <div class="h-screen">
            <div class="flex flex-row justify-between bg-cyan-600 pb-8 items-center">
                <div class="pl-44 pt-8"><a href="/" class="bg-yellow-300 p-2 rounded-lg text-orange-600 border-2 border-orange-800 border-solid text-xl">Home</a></div>
                <div class="pt-8 flex flex-row gap-8 pr-44">
                  <a href="/sign-up" class="text-xl bg-yellow-300 p-2 rounded-lg text-orange-600 border-2 border-orange-800 border-solid">Sign Up</a>
                  <a href="/log-in" class="text-xl bg-yellow-300 p-2 rounded-lg text-orange-600 border-2 border-orange-800 border-solid">Log In</a>
                </div>
              </div>
              <div class="bg-cyan-400 h-[95%] lg:h-[90%]">
            <p class="text-center pt-24 text-2xl text-red-600">Invalid page!</p>
            </div>
            </div>
      <%}%>
    </div>
  </body>
</html>