<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body>
    <div>
      <% if (user) {%>
        <a href="/log-out">LOG OUT</a>
        <form action="/secret" method="POST">
        <div class="flex flex-col">
        <label for="secret">Secret</label>
        <input name="secret" type="password" id="secret"/>
        <button>Submit</button>
        </div>
        </form>
      <% } else { %>
        <p>Invalid page!</p>
      <%}%>
    </div>
  </body>
</html>
