<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body>
    <div class="h-screen">
        <div class="flex flex-row justify-between bg-cyan-600 pb-8 items-center">
            <div class="pl-44 pt-8"><a href="/" class="bg-yellow-300 p-2 rounded-lg text-orange-600 border-2 border-orange-800 border-solid text-xl">Home</a></div>
            <div class="pt-8 flex flex-row gap-8 pr-44">
              <a href="/sign-up" class="text-xl bg-yellow-300 p-2 rounded-lg text-orange-600 border-2 border-orange-800 border-solid">Sign Up</a>
              <a href="/log-in" class="text-xl bg-yellow-300 p-2 rounded-lg text-orange-600 border-2 border-orange-800 border-solid">Log In</a>
            </div>
          </div>
        <div class="flex justify-center pt-24 bg-cyan-400 h-[95%] lg:h-[90%]">
        <form action="/sign-up" method="POST">
            <div class="flex flex-col w-48 items-center border-2 border-black border-solid w-96">
            <label for="first_name" class="m-2 text-orange-800">First Name</label>
            <input name="first_name" type="text" class="border-2 border-black border-solid"/>
            <label for="last_name" class="m-2 text-orange-800">Last Name</label>
            <input name="last_name" type="text" class="border-2 border-black border-solid"/>
            <label for="username" class="m-2 text-orange-800">Username</label>
            <input name="username" type="text" class="border-2 border-black border-solid"/>
            <label for="password" class="m-2 text-orange-800">Password</label>
            <input name="password" type="password" class="border-2 border-black border-solid"/>
            <label for="confirm_password" class="m-2 text-orange-800">Confirm Password</label>
            <input name="confirm_password" type="password" class="border-2 border-black border-solid"/>
            <button class="bg-yellow-300 p-1 m-3 rounded-lg text-orange-600 border-2 border-orange-800 border-solid">Sign Up</button>
            </div>
          </form>
          </div>
          <% if (errors && errors.length > 0) { %>
            <ul>
              <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li> 
              <% }); %>
            </ul>
          <% } %>
    </div>
  </body>
</html>
