<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body>
    <div>
      <div></div>
        <form action="/sign-up" method="POST">
            <div class="flex flex-col w-48">
            <label for="first_name">First Name</label>
            <input name="first_name" type="text"/>
            <label for="last_name">Last Name</label>
            <input name="last_name" type="text"/>
            <label for="username">Username</label>
            <input name="username" placeholder="username" type="text" />
            <label for="password">Password</label>
            <input name="password" type="password" />
            <label for="confirm_password">Confirm Password</label>
            <input name="confirm_password" type="password" />
            <button>Sign Up</button>
            </div>
          </form>
          <% if (errors && errors.length > 0) { %>
            <ul>
              <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li> 
              <% }); %>
            </ul>
          <% } %>
    </div>
  </body>
</html>
